@model RestaurantManagementSystem.Models.Category
@{
    ViewData["Title"] = Model.Id == 0 ? "Add Category" : "Edit Category";
}

<h2 class="mb-4">@ViewData["Title"]</h2>
<form asp-action="CategoryForm" method="post">
    <input type="hidden" asp-for="Id" value="0" />
    <div class="mb-3">
        <label asp-for="CategoryName" class="form-label"></label>
        <input asp-for="CategoryName" class="form-control" required />
    </div>
    <div class="mb-3 form-check">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="@Url.Action("CategoryList", "Master")" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            var id = '@Model.Id';
            if (id != '0') {
                // Edit mode
                $('#Id').val(id);
                $('#CategoryName').prop('disabled', true);
                $('#IsActive').prop('disabled', true);
            }
        });
    </script>
}